<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="/public/css/styles.css"></link>
        <script src="/public/js/home.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    
    <body>
        <header>
            <section>
            <h1>
                <img src="/public/images/logo-mercado-liebre.svg">
            </h1>
            <div>Lugar para barra de navegación</div>
                <h2><i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito</h2>
            </section>
            
            <nav id="barra-nav">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul>
                    <li><i class="far fa-id-card"></i>
                         <a href="">Tu cuenta</a></li>
                    <li><i class="fas fa-sign-in-alt"></i>
                        <a href="">Ingresá</a></li>
                    <li><i class="fas fa-shopping-basket"></i>
                        <a href="">Mis compras</a></li>
                </ul>
            </nav>
        </header>

        <picture>
            <img src="../public/images/img-home-banner.jpg" width="100%">
        </picture>
        
        <main>
            <section>
                <h3><strong id="visita">Basado en tu última visita</strong></h3>
                <section id="listado-articulos-visita">
                <article>
                    <img src="../public/images/img-cafetera-moulinex.jpg" width="100%"> 
                    <div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="../public/images/img-macbook-pro-2019.jpg" width="100%">
                    <div>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="../public/images/img-samsung-galaxy-s10.jpg" width="100%">
                    <div>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="../public/images/img-tv-samsung-smart.jpg" width="100%">
                    <div>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4>Smart TV Samsung 43"</h4>
                    </div>
                </article>
                </section>
            </section>
            
            <section>
                <h3><strong id="ofertas">Ofertas</strong></h3>
                <section id="listado-articulos-ofertas">
                <article>
                    <img src="../public/images/img-cafetera-moulinex.jpg" width="100%">
                    <div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="../public/images/img-macbook-pro-2019.jpg" width="100%">
                    <div>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="../public/images/img-samsung-galaxy-s10.jpg" width="100%">
                    <div>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="../public/images/img-tv-samsung-smart.jpg" width="100%">
                    <div>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4>Smart TV Samsung 43"</h4>
                    </div>
                </article>
                </section>
            </section>
        </main>
        
        <footer>
            <section>
                <i class="fas fa-credit-card"></i>
                <strong>Pagá con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fas fa-gift"></i>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fas fa-user-shield"></i>
                <strong>Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>